<form ng-submit="submitData()">
 
	<div class="panel panel-default">
		<div class="panel-heading">Category Information</div>
		<div class="panel-body">

			<div class="row">
				<div class="col-md-4">
					<p>Category:</p>
					<input type="text" class="form-control" placeholder="Name" ng-model="formData.categories.name" required/>
				</div>
			</div>
		</div>
	</div>
	</div>

	</div>
	<button type="submit" class="btn btn-success btn-round" ng-show="showSubmit">Submit</button>
	<a href="#" class="btn btn-default btn-round" style="margin-left: 8px">Cancel</a>
 </form>