<ul class="nav navbar-nav">
	<li><a ui-sref="category_add">Add Category</a></li>
</ul>

<div>
	<table class="table table-striped">
	<thead>
			<th>Id</th>
			<th>Category</th>
			<th>Created at</th>
	</thead>

<tbody>

	<tr data-ng-repeat="category in categories">
		<td>{{category.id}}</td>
		<td>{{category.name}}</td>
		<td>{{category.created_at}}</td>
		<td width="10%" class="dropdown">
		    <ul class="nav navbar-nav">
		        <li><a ui-sref="category_edit({id: category.id})">Edit</a></li>
 		    </ul>
		</td>
	</tr>
</tbody>
</table>
</div>